.header {
    position: sticky;
    top: 0;
    left: 0;

    height: 50px;
    width: 100%;

    padding-left: 2%;

    background: var(--baseColor);

    animation: headerIn .5s forwards ease-out;

    transform: translateY(-50px);
    opacity: 0;

    z-index: 99;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;

    color: white;

    box-sizing: border-box;

    display: flex;
    align-items: center;
}

.header.out {
    background: green;
}

@keyframes headerIn {
    from {
        transform: translateY(-50px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes headerOut {
    to {
        transform: translateY(-50px);
        opacity: 0;
    }

    from {
        transform: translateY(0);
        opacity: 1;
    }
}