.featured-container {
    height: fit-content;
    min-width: 310px;
    max-width: 310px;
    min-height: 200px;
    margin: 2%;

    box-sizing: border-box;
    box-shadow: 0px 4px 5px 1px rgba(59, 59, 59, 0.1);
    border-radius: 10px;

    background: white;
    color: var(--textColor);
    font-weight: bold;

    padding: 5px;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid var(--textColor);

    flex-grow: 1;
}

#add-more {
    border-radius: 20px;
    height: 50px;
    width: 200px;

    display: flex;
    align-items: center;
    justify-content: center;

    background: white;

    background: var(--baseColor);
    color: white;

    user-select: none;
}
#add-more img{
    height: 50%;
    margin: 5px;

    animation: rotatingGearAnim 3s infinite linear;
}

@keyframes rotatingGearAnim {
   0%{
        transform: rotate(0deg);
    }100%{
        transform: rotate(360deg);
    }
}

.features {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    flex-wrap: wrap;
    padding: 1%;
}